$colors: (
  primary: #36304a,
  secondary: #636e72,
  background: #dfe6e9,
  white: #ffffff,
  dark: #2d3436,
  light: #b2bec3,
  grey100: #f5f5f5,
  grey200: #808080,
  blue100: #74b9ff,
  blue200: #0984e3,
);

$size: (
  l1: 4px,
  l2: 8px,
  l3: 12px,
  l4: 16px,
  l5: 20px,
  l6: 24px,
  l7: 28px,
  l8: 32px,
  l9: 36px,
  l10: 40px,
);

$font-size: (
  l1: 14px,
  l2: 16px,
  l3: 18px,
  l4: 20px,
);
